<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023 Nhlanhla Nkosi</p>
            </div>
            <div class="col-md-6">
                <ul class="social-icons">
                    <li><a href="https://www.linkedin.com/in/nhlanhla-nkosi-21400b188/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/Nhlanhla30" target="_blank"><i class="fab fa-github"></i></a></li>
                    <!-- Add more social media icons and links as needed -->
                </ul>
            </div>
        </div>
    </div>
</footer>



</body>
</html>