<%- include('partials/header') %>

<main>
    <section class="about">
        <div class="container">
            <div class="about-content">
                <h2>About Me</h2>
                <p>Hello, I'm Nhlanhla Nkosi, a web developer based in South Africa.</p>
                <p>With a degree in Development under my belt, I bring a wealth of knowledge and a burning curiosity for the ever-evolving world of web development.</p>
                <p>I specialize in crafting dynamic and user-friendly web applications. My toolkit includes HTML, CSS, JavaScript, Node.js, C#, Java, SQL, and more. I'm not just a developer; I'm a lifelong learner, constantly exploring the latest trends and technologies in the web development realm.</p>
                <p class="last-paragraph">My mission is simple: to create meaningful, innovative, and delightful digital experiences. I plan to tap into the DevOp space as well so I can be involved in the whole Software dvelopment lifecycle.</p>
            </div>
        </div>
    </section>
    
    <!-- Add more sections or content as needed -->
</main>

<%- include('partials/footer') %>
